<html>
<body>
<h1>Hi ${user.username}, you are now a member of SER.</h1>
<h3>Your account information:</h3>
${user.userProfile.firstname}
${user.userProfile.lastname}
${user.userProfile.email}
${user.username}
${user.password}
</body>
</html>