<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>BentoDelivery</display-name>
	<error-page>
		 <error-code>404</error-code>
    	<location>/errorpage.jsp</location>
	</error-page>
	<error-page>
		 <error-code>500</error-code>
    	<location>/errorpage.jsp</location>
	</error-page>
	<security-constraint>
		<web-resource-collection>
 			<web-resource-name>Manager</web-resource-name>
 			<url-pattern>/manager/*</url-pattern>
  		</web-resource-collection>
  		<auth-constraint>
				<role-name>ManagerEEIT76</role-name>
  		</auth-constraint>
  		<user-data-constraint>
  			<transport-guarantee>NONE</transport-guarantee>
  		</user-data-constraint>
	</security-constraint>
	<security-role>
		<role-name>ManagerEEIT76</role-name>
	</security-role>
	<login-config>
 		<auth-method>FORM</auth-method>
 		<form-login-config>
	 		<form-login-page>/WEB-INF/form/login.jsp</form-login-page>
 			<form-error-page>/WEB-INF/form/error.jsp</form-error-page>
 		</form-login-config>
 	</login-config>
	
	<resource-ref>
		<res-ref-name>jdbc/bento</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<servlet>
		<servlet-name>CheckAccuseServlet</servlet-name>
		<servlet-class>controller.CheckAccuseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckAccuseServlet</servlet-name>
		<url-pattern>/CheckAccuse.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CheckADServlet</servlet-name>
		<servlet-class>controller.CheckADServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckADServlet</servlet-name>
		<url-pattern>/CheckAD.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetImageFromDB</servlet-name>
		<servlet-class>controller.GetImageFromDB</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetImageFromDB</servlet-name>
		<url-pattern>/getImage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddADServlet</servlet-name>
		<servlet-class>controller.AddADServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddADServlet</servlet-name>
		<url-pattern>/addAD.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>memberApplyServlet</servlet-name>
		<servlet-class>controller.memberApplyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>memberApplyServlet</servlet-name>
		<url-pattern>/member.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InquiryPasswordServlet</servlet-name>
		<servlet-class>controller.InquiryPasswordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InquiryPasswordServlet</servlet-name>
		<url-pattern>/inquiry.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>controller.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DishServlet</servlet-name>
		<servlet-class>controller.DishServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DishServlet</servlet-name>
		<url-pattern>/owner/dish/DishServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>RestServlet</servlet-name>
		<servlet-class>controller.RestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RestServlet</servlet-name>
		<url-pattern>/generalService/searchRestaurant.jsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DiscussServlet</servlet-name>
		<servlet-class>controller.DiscussServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DiscussServlet</servlet-name>
		<url-pattern>/owner/discuss.jsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TreatOrderServlet</servlet-name>
		<servlet-class>controller.TreatOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TreatOrderServlet</servlet-name>
		<url-pattern>/owner/order/treatOrder.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TreatOrderServlet</servlet-name>
		<url-pattern>/owner/treatOrder.jsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddOrderServlet</servlet-name>
		<servlet-class>controller.AddOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddOrderServlet</servlet-name>
		<url-pattern>/member/order/purchaseOrder.jsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CommitOrderServlet</servlet-name>
		<servlet-class>controller.CommitOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommitOrderServlet</servlet-name>
		<url-pattern>/member/order/commitOrder.jsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadExcelServlet</servlet-name>
		<servlet-class>controller.UploadExcelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadExcelServlet</servlet-name>
		<url-pattern>/owner/UploadExcelServlet</url-pattern>
	</servlet-mapping>
</web-app>